body {
    padding: 1em;
    font-family: Quicksand, sans-serif;
    cursor: default;
    background-color : #f5f5f5;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: white;
    padding: 15px;
    border-radius: 5px;
    position: sticky;
    top : 0;
    z-index: 1;
}

.navigation a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.list {
    list-style: none;
    display: flex;
    gap: 25px;
}

#toggler, .navigation label {
    display: none;
}

@media screen and (max-width: 600px) {
    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .navigation label {
        display: inline-flex;
        cursor: pointer;
        align-items: center;
    }

    #toggler:checked ~ .menu {
        max-height: 100%;
    }
}

#Gray_bar{
    background-color: #f5f5f5;
    height: 30px;
    clear:both;
    text-align:center;
    padding:5px;
    float:center;
    position: sticky;
    top : 110px;
    z-index: 1;
}

#Suggestion_Acc{
    float: right;
    width: 25%;
    text-align: center;
    background-color: white;
    color:black;
    padding: 5px;
    position: sticky;
    top : 155px;
}

#section{
    width: 70%;
    display: grid;
    place-items: center;
    background-color: white;
    color:black;
    padding: 5px;
    z-index: 2;
}

#footer{
    background-color: white;
    color:black;
    clear:both;
    text-align:center;
    padding:5px;
    margin-top:40%;
    float:center;
}
#googleMaps{
    margin-top:-210px; 
    float:left;
}
.post{
    background-color: #20838a;
    color:white;
    width: 53%;
    border-radius: 2%;
    margin:20px;
}
.PhotoProfil{
    margin-top:-10px;
    margin-left: 40px;
    float:left;
}
.Nom{
    margin-top:35px;
    margin-left:140px;
    font-weight: 700;
    font-size: 25px;
}
.Date{
    margin-top:-10px;
    margin-left:141px;
    font-size: 11px;
}
.Legende{
    margin-top:60px;
    margin-left:40px;
}
.Data{
    text-align: center;
    margin-bottom:25px;
}




#carrousel {
    height: 200px;
    width: 700px;
    margin: auto;
    display: grid;
    place-items: center;
}
#prev{
    transform: rotate(180deg);
    display: grid;
    position: absolute;
    top: 400px;
    left: 325px;
}
#next{
    position:absolute;
    display: grid;
    top: 400px;
    right: 750px;
}
