/*---------------------------HTML--------------------------*/
html {
    scroll-behavior: smooth;
}

/*---------------------------Body--------------------------*/
body {
    padding: 1em;
    font-family: Quicksand, sans-serif;
    cursor: default;
    background-color : #f5f5f5;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* --------------------------------------------------------------------------------*/
/* -----------------------Partie Commune aux pages de ECE In-----------------------*/
/* --------------------------------------------------------------------------------*/

/* -----------------Barre de Navigation--------------------*/
.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: white;
    padding: 15px;
    border-radius: 5px;
    position: sticky;
    top : 0;
    z-index: 10;
}

.navigation a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 50px;
}   

.list {
    list-style: none;
    display: flex;
    gap: 25px;
}

.oncolor:hover {
    color: #037078;
    transition: 0.25s;
}


#toggler, .navigation label {
    display: none;
}

@media screen and (max-width: 600px) {
    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .navigation label {
        display: inline-flex;
        cursor: pointer;
        align-items: center;
    }

    #toggler:checked ~ .menu {
        max-height: 100%;
    }
}

.inputbox{
    position: relative;
    width: 250px;
    height: 35px;
    border: 2px solid black;
    border-radius: 22px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    margin-left: 10px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    margin-top: -7px;
}

.inputbox ion-icon{
    position: absolute;
    right: 10px;
    color: black;
    font-size: 1.2em;
    top: 9px;
    margin-right: 5px;
}
/* --------------------Gray Bar------------------------*/
#Gray_bar{
    background-color: #f5f5f5;
    height: 30px;
    clear:both;
    text-align:center;
    padding:5px;
    float:center;
    position: sticky;
    top : 100px;
    z-index: 10;
}

#Info_Right{
    float: right;
    width: 25%;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    color:black;
    padding: 5px;
    position: sticky;
    top : 140px;
    margin-bottom: 288px;
    z-index: 11;
}

.boutonPoster{
    margin-top:20px;
    margin-bottom:20px;
}

.boutonPoster button{
    width: 80%;
    height: 40px;
    margin-left: 10px;
    background: transparent;
    outline: none;
    font-size: 1em;
    color: black;
    margin-top: -7px;
    border-radius: 22px;
    text-indent: -20px;
}

.boutonPoster ion-icon{
    position: absolute;
    right: 37px;
    color: black;
    font-size: 1.8em;
    top: 23px;
    margin-right: 5px;
}

#suggestions{
    margin-top:20px;
}

#menuPoster input{
    margin-top:20px;
}

#menuPoster button{
    margin-top:20px;
    width: 30%;
}

.line-1 {
    border-top: 1px solid gainsboro;
    z-index: 1;
    width: 100%;
}

.line-2 {
    border-top: 40px solid #f5f5f5;
    margin-left: -5px;
    width: 105%;
}

.section{
    width: 70%;
    display: grid;
    place-items: center;
    background-color: white;
    border-radius: 5px;
    color:black;
    padding: 5px;
    z-index: 2;
}

/* --------------------------------------------------------------------------------*/
/* -------------------------------------Accueil------------------------------------*/
/* --------------------------------------------------------------------------------*/
.photoSuggestion{
    margin-top:-50px;
    margin-left: 20px;
    float:left;  
}
.post{
    background-color: #037078;
    color:white;
    width: 53%;
    border-radius: 2%;
    margin:20px;
    z-index : 1;
}

.PhotoProfil{
    margin-top:-10px;
    margin-left: 40px;
    float:left;
}
.Nom{
    margin-top:35px;
    margin-left:140px;
    font-weight: 700;
    font-size: 25px;
}
.Date{
    margin-top:-10px;
    margin-left:141px;
    font-size: 11px;
}
.Legende{
    margin-top:60px;
    margin-left:40px;
}
.Data{
    text-align: center;
    margin-bottom:25px;
}

.Like{
    margin-left:10%;
    font-size:1.1em;
}

.nbrLike{
    margin-left:3%;
    font-size:1.2em;
}

.Com{
    margin-left:10%;
    font-size:1.1em;
}

.nbrCom{
    margin-left:3%;
    font-size:1.2em;
}

.post2{
    display:flex;
    margin-top:-5%;
}

.post2 button{
    background: transparent;
    outline: none;
    border:0px;
}

.overlay3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 11;
}

.com-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    width: 500px;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 500px;
}

.com-container h2{
    margin-top:5px;
    margin-bottom:30px;
}

.quitterCom{
    margin-top:-70px;
    margin-left: 470px;
    float:left;
    font-size: 20px;
    background: transparent;
    outline: none;
    border: 0px;
    z-index: 2;
    font-size: 30px;
}

#carrousel {
    height: 200px;
    width: 700px;
    margin: auto;
    display: grid;
    place-items: center;
}
#carrousel_all {
    margin: auto;
    display: flex;
    place-items: center;
}

#prev{
    transform: rotate(180deg);
    display: grid;
    position: absolute;
    top: 570px;
    left: 225px;
}
#next{
    position:absolute;
    display: grid;
    top: 570px;
    right: 570px;
}
#carrousel_all ion-icon{
    position: absolute;
    color: black;
    font-size: 2em;
}
#ECEin_Feed{
    margin-top: 40px;
}

/* --------------------------------------------------------------------------------*/
/* -------------------------------------Commentaire------------------------------------*/
/* --------------------------------------------------------------------------------*/


.com{
    background-color: #f5f5f5;;
    color:black;
    width: 60%;
    border-radius: 15px;
    margin:5px;
}

.comUser{
    background-color: #037078;;
    color:white;
    width: 60%;
    border-radius: 15px;
    margin:5px;
    margin-left:190px;
}

.afficherCom{
    overflow-y: auto;
    overflow-x: hidden;
    height: 330px;
}

.PhotoProfilCom{
    margin-top:-35px;
    margin-left: 3px;
    float:left;
    padding:5px;
}
.NomCom{
    margin-top:5px;
    margin-left:30px;
    font-weight: 550;
    font-size: 15px;
    padding:5px;
    padding-top:9px;
}
.DateCom{
    margin-top:-40px;
    margin-left:90%;
    font-size: 10px;
}
.ContenuCom{
    margin-top:25px;
    margin-left:20px;
    padding-bottom: 10px;
}

.posterCom{
    background-color: white;
    color:black;
    clear:both;
    text-align:left;
    padding:5px;
    margin-bottom:5%;
    float:center;
    position: absolute;
    bottom: 0;
}

.boutonCom{
    margin-top:-25px;
    margin-left: 280px;
    float:left;
    font-size: 13px;
    /*background: transparent;
    outline: none;
    border: 0px;*/
    border-radius: 22px;
    border-width: 2px;
    z-index: 2;
}




/* --------------------------------------------------------------------------------*/
/* ------------------------------------Mon Réseau----------------------------------*/
/* --------------------------------------------------------------------------------*/

#Sec_AmisAmis{
    margin-top: 40px;
}
div.scroll {
    margin:4px, 4px;
    padding:4px;
    background-color: transparent;
    width: 90%;
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}

.amis{
    margin-top:5px;
    margin-left: 20px;
    float:left;  
}
.photoMonAmis{
    margin-top:-8px;
    margin-left: 10px;
    float:left;  
}
.inputbox_res{
    position: relative;
    width: 68%;
    height: 35px;
    border: 2px solid gainsboro;
    border-radius: 10px;
    margin-left: 15px;
    margin-bottom: 40px;
    margin-top: 180px;
}
.inputbox_res input {
    width: 100%;
    height: 50px;
    margin-left: 10px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    margin-top: -7px;
}

.inputbox_res ion-icon{
    position: absolute;
    right: 10px;
    color: black;
    font-size: 1.2em;
    top: 9px;
    margin-right: 5px;
}
.photoAmi{
    margin-top:-75px;
    margin-left: 10px;
    float:left;   
}

#accepter{
    margin-top:-10px;
    margin-left: 50px;
    float:left;
}
#overlayV2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 100;
  }
/* --------------------------------------------------------------------------------*/
/* ---------------------------------------Vous-------------------------------------*/
/* --------------------------------------------------------------------------------*/

#MonProfil{
    background-color: white;
    width: 70%;
    display: grid;
    place-items: center;
    color:black;
    margin-top:-10px;
    margin-left: 0px;
    float:left;  
    padding: 5px;
    z-index: 2;
}
#Formation{
    margin-top: 300px;
    width: 70%;
    display: grid;
    background-color: white;
    color:black;
    padding: 5px;
    z-index: 2;
}
#Projet{
    margin-top: 30px;
    width: 70%;
    display: grid;
    background-color: white;
    color:black;
    padding: 5px;
    z-index: 2;
}


#MesPost{
    margin-top: 20px;
    width: 70%;
    display: grid;
    place-items: center;
    background-color: white;
    color:black;
    padding: 5px;
    z-index: 2;

}

.photo{
    margin-top:-125px;
    margin-left: -500px;
    float:left;  
}
.photoAmis{
    margin-top:-60px;
    margin-left: 10px;
    float:left;      
}
.bouton{
    margin-top:-195px;
    margin-left: 551px;
    float:left;    
}

.plusFormation{
    margin-top:-100px;
    margin-left: 800px;
    float:left;
    font-size: 20px;
    background: transparent;
    outline: none;
    border: 0px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 12;
  }

.modification {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 11;
  }
  
.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 400px;
  }
  
.quitterFormation{
    margin-top:-70px;
    margin-left: 270px;
    float:left;
    font-size: 20px;
    background: transparent;
    outline: none;
    border: 0px;
    z-index: 11;
    font-size: 30px;
}

.description input {
    background: transparent;
    border: none;
    outline: none;
    color: black;
}

.plusProjet{
    margin-top:-100px;
    margin-left: 800px;
    float:left;
    font-size: 20px;
    background: transparent;
    outline: none;
    border: 0px;
}

.overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 11;
  }

.quitterProjet{
    margin-top:-70px;
    margin-left: 270px;
    float:left;
    font-size: 20px;
    background: transparent;
    outline: none;
    border: 0px;
    z-index: 11;
    font-size: 30px;
}

.affichageFormation{
    border: 1.5px solid #037078;  
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;  
}
 /* --------------------------------------------------------------------------------*/
/* -----------------------------------Amis--------------------------------*/
/* --------------------------------------------------------------------------------*/ 

#Formation2{
    margin-top: 220px;
    width: 70%;
    display: grid;
    background-color: white;
    color:black;
    padding: 5px;
    z-index: 2;
}

.photo_ami2{
    margin-top: -75px;
    margin-left: -510px;
    float:left;  
}

/* --------------------------------------------------------------------------------*/
/* -----------------------------------Notifications--------------------------------*/
/* --------------------------------------------------------------------------------*/



/* --------------------------------------------------------------------------------*/
/* ------------------------------------Messagerie----------------------------------*/
/* --------------------------------------------------------------------------------*/

#Messagerie{
    display: flex;
    justify-content: center;
    z-index: 1;
}
#Messages{
    width: 30%;
    place-items: center;
    background-color: white;
    color:black;
    padding: 5px;
    z-index: 1;
}
#Chat{
    margin-left: 40px;
    width: 50%;
    place-items: center;
    background-color: white;
    color:black;
    padding: 5px;
    z-index: 1;
}
#Icon{
    display: flex;
    justify-content: center;
    place-items: center;
}
.inputbox_mess{
    position: relative;
    width: 68%;
    height: 35px;
    border: 2px solid gainsboro;
    border-radius: 10px;
    margin-left: 15px;
    margin-bottom: 40px;
}
.inputbox_mess input {
    width: 100%;
    height: 50px;
    margin-left: 10px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    margin-top: -7px;
}

.inputbox_mess ion-icon{
    position: absolute;
    right: 10px;
    color: black;
    font-size: 1.2em;
    top: 9px;
    margin-right: 5px;
}
.message_box{
    width: 100%;
    height: 75px;
    border: 2px solid gainsboro;
    border-radius: 5px;
    background-color: transparent;
    margin-bottom: 10px;
    z-index: 2;
}
.message_box:hover{
    border-color:#037078; 
}
.message_PhotoProfil{
    float:left;
    margin-left: 5px;
}
.Nom_box{
    margin-left: 50px;
    margin-top: 15px;
}
.message_Date{
    font-size: 11px;
    float:right;
    margin-right: 10px;
    margin-top: -30px;
}
.message_txt_box{
    margin-left: 50px;
    margin-top: -5px;
}
#scroll_msg{
    margin-left:5%;
    margin-top: 5px;
}
.Conv{
    width: 90%;
    height: 500px;
    border: 2px solid gainsboro;
    border-radius: 10px;
    background-color: transparent;
}
.chat_txt{
    place-items: center;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
}

.message_ecrir{
    display: flex;
    width: 95%;
    height: 60px;
    border: 2px solid gainsboro;
    border-radius: 5px;
    background-color: transparent;
    margin-top: 11px;
    margin-left:2.5%;
    z-index: 2;
}
.message_me{
    float:right;
    margin: 0px 10px 0px 0px;
    background-color: #037078;
    color: white;
    border-radius: 10px;
    padding: 4px;
}
.icon_me{
    float:right;
    margin-top:-3px
   }

.message_him{
    float:left;
    margin: 0px 0px 10px 0px;
    background-color: gray;
    color: white;
    border-radius: 10px;
    padding: 4px;
}
.icon_him{
    float:left;
    margin-top:-3px
   }

.inputbox_ecrir{
    position: relative;
    width: 60%;
    height: 75%;
    border: 2px solid #037078;
    border-radius: 20px;
    margin-left: 15%;
    margin-top: 7px;
    z-index: 3;
}
.inputbox_ecrir input {
    width: 100%;
    height: 50px;
    margin-left: 10px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    margin-top: -1px;
    z-index: 3;
}
.icon_ecrir{
    color: #037078;
    font-size: 1.5em;
    margin-top:20px;
    margin-left: 8px;
}
#lefticons{
    margin-left: 20px;
}


/* --------------------------------------------------------------------------------*/
/* --------------------------------------Emplois-----------------------------------*/
/* --------------------------------------------------------------------------------*/


#Sec_Emploi{
    margin-top: 20px;
}

#Emplois{
    width: 70%;
    display: grid;
    background-color: white;
    color:black;
    padding: 5px;
    z-index: 12;
    overflow-x: hidden;
    overflow-y: auto;
}




/* --------------------------------------------------------------------------------*/
/* --------------------------------------Footer------------------------------------*/
/* --------------------------------------------------------------------------------*/

#footer{
    background-color: white;
    color:black;
    clear:both;
    text-align:center;
    padding:5px;
    margin-top:40%;
    float:center;
}
#googleMaps{
    margin-top:-210px; 
    float:left;
}

















