body {
    padding: 1em;
    font-family: Quicksand, sans-serif;
    cursor: default;
    background-color : #f5f5f5;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: white;
    padding: 15px;
}

.navigation a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.list {
    list-style: none;
    display: flex;
    gap: 25px;
}

#toggler, .navigation label {
    display: none;
}

@media screen and (max-width: 600px) {
    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .navigation label {
        display: inline-flex;
        cursor: pointer;
        align-items: center;
    }

    #toggler:checked ~ .menu {
        max-height: 100%;
    }
}

#footer{
    background-color: white;
    color:black;
    clear:both;
    text-align:center;
    padding:5px;
    margin-top:40%;
}